{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <style>
        ol {
            padding: 0;
            list-style: none;
            counter-reset: sectioncounter
        }

        ol > li:before {
            content: '问题' counter(sectioncounter) ':';
            counter-increment: sectioncounter;
            font-size: 18px;
            color: #d4d4d4;
        }

        ol > li:nth-of-type(odd) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<div class="container" style="margin-top: 50px">
    <form class="form-horizontal" novalidate> {% csrf_token %}
        <div class="pull-right">
            <div class="btn btn-success add-question">添加</div>&nbsp;&nbsp;&nbsp;
            <div class="btn btn-primary save-question" onclick="QuestionSave()">保存</div>
        </div>
        <br><br>

        {% for filed in questionnaire_form %}
            <div class="form-group">
                <label for="{{ filed.id_for_label }}"
                       class="col-sm-1 control-label">{{ filed.label }}</label>
                <div class="col-sm-11">
                    {{ filed }}
                </div>
            </div>
        {% endfor %}


        <ol class="list-group">
            {% for item in form_list %}
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-remove pull-right remove_item"></span>
                    {% for filed in item.form %}
                        <div id="{{ item.obj.id }}" class="form-group">
                            <label for="{{ filed.id_for_label }}"
                                   class="col-md-2 col-sm-2 control-label">{{ filed.label }}:</label>
                            <div class="col-md-10 col-sm-10 content">
                                {{ filed }}

                                {% ifequal filed.name 'q_type' %}
                                    <label for="id_q_type"
                                           class="glyphicon glyphicon-plus add-option {{ item.option_class }}"
                                           style="color: #2b669a">添加选项</label>
                                    <div style="margin-top: 15px;width: 60%"
                                         class="content-option inline-group {{ item.option_class }}">

                                        {% for v in item.options %}
                                            <div id="{{ v.obj.id }}" class="list-group-item">

                                                {% for option_filed in v.form %}
                                                    <label for="{{ option_filed.id_for_label }}"
                                                           class=" control-label">{{ option_filed.label }}:</label>
                                                    {{ option_filed }}
                                                    {% ifequal option_filed.name 'score' %}
                                                        <label for="id_score"
                                                               class="control-label glyphicon glyphicon-remove remove-option-item"></label>
                                                    {% endifequal %}
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endifequal %}
                            </div>
                        </div>
                    {% endfor %}


                </li>
            {% endfor %}
        </ol>

    </form>
</div>

<script>

    $(".form-horizontal .add-question").click(function () {
        $(".form-horizontal ol.list-group").append(
            '<li class="list-group-item">\n' +
            '<span class="glyphicon glyphicon-remove pull-right remove_item"></span>\n' +
            '<div id="" class="form-group">\n' +
            '<label for="id_title" class="col-md-2 col-sm-2 control-label">题目:</label>\n' +
            ' <div class="col-md-10 col-sm-10 content">\n' +
            '<input type="text" name="title" class="form-control" style="width:60%" placeholder="请输入题目" maxlength="64" required="" id="id_title">\n' +
            '\n' +
            '                                \n' +
            '                            </div>\n' +
            '                        </div>\n' +
            '                    \n' +
            '                        <div id="" class="form-group">\n' +
            '                            <label for="id_q_type" class="col-md-2 col-sm-2 control-label">类型:</label>\n' +
            '                            <div class="col-md-10 col-sm-10 content">\n' +
            '                                <select name="q_type" class="form-control selector" style="width:50%;display: inline;" required="" id="id_q_type">\n' +
            '  <option value="" selected="">---------</option>\n' +
            '\n' +
            '  <option value="1">单选</option>\n' +
            '\n' +
            '  <option value="2">建议</option>\n' +
            '\n' +
            '  <option value="3">打分(1~10分)</option>\n' +
            '\n' +
            '</select>\n' +
            '\n' +
            '                                \n' +
            '                                    <label for="id_q_type" class="glyphicon glyphicon-plus add-option hidden" style="color: #2b669a">添加选项</label>\n' +
            '                                    <div style="margin-top: 15px;width: 60%" class="content-option inline-group hidden">\n' +
            '\n' +
            '                                        \n' +
            '                                    </div>\n' +
            '                                \n' +
            '                            </div>\n' +
            '                        </div>\n' +
            '                    \n' +
            '\n' +
            '\n' +
            '                </li>')
    });

    $("ol.list-group").on("click", ".list-group-item span", function () {
        $(this).parent().remove();
    }).on("click", ".list-group-item .remove-option-item", function () {
        $(this).parent().remove();
    }).on('click', '.list-group-item .form-group .add-option', function () {
        $(this).next().append('<div id="" class="list-group-item">\n' +
            ' <label for="id_content" class="control-label">内容:</label>\n' +
            '<input type="text" name="content"  class="form-control" style="width:30%;display: inline;" maxlength="64" required="" id="id_content">\n' +
            '<label for="id_score" class=" control-label">分值:</label>\n' +
            '<input type="number" name="score"  class="form-control" style="width:30%;display: inline;" required id="id_score">\n' +
            '<label for="id_score" class="control-label glyphicon glyphicon-remove remove-option-item"></label>\n' +
            '</div>'
        )
    }).on("change", '.list-group-item .form-group .selector', function () {
        if ("1" === $(this).children('option:selected').val()) {
            $(this).next().removeClass('hidden');
            $(this).next().next().removeClass('hidden');
        } else {
            $(this).next().addClass('hidden');
            $(this).next().next().addClass('hidden');
        }
    });

    // 找数据
    function QuestionSave() {
        var question_data_list = [];
        $('ol.list-group li.list-group-item').each(function (i, v) {
            var dict = {};
            dict['q_id'] = $(this).find('#id_title').parent().parent().attr('id');
            dict['title'] = $(this).find('#id_title').val();
            dict['q_type'] = $(this).find('#id_q_type').val();
            if ($(this).find('option:selected').val() === '1') {
                var option_list = [];
                $(this).find('.content-option div.list-group-item').each(function () {
                    var option_dict = {};
                    option_dict['o_id'] = $(this).find('#id_content').parent().attr('id');
                    option_dict['content'] = $(this).find('#id_content').val();
                    option_dict['score'] = $(this).find('#id_score').val();
                    option_list.push(option_dict)
                });
                dict['options'] = option_list
            }
            question_data_list.push(dict)
        });

        $.ajax({
            url: "{% url 'que_add_save' 'save' %}",
            type: "post",
            dataType: "json",
            data: {
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                caption: $(".form-group #id_caption").val(),
                group: $(".form-group #id_group").val(),
                question_data_list: JSON.stringify(question_data_list)
            },
            success: function (data) {
                if (data && (data.status === "success")) {
                    alert(data.done+'成功')
                } else {
                    alert('保存失败'+'\n'+data.message)
                }
            }
        });


    }
</script>
</body>
</html>